@charset "utf-8";
@font-face {
  font-family: 'Orbitron';
  font-weight: 400;
  font-style: normal;
  src: url('http://themes.googleusercontent.com/font?kit=AdPJuXs8llXF_cK9FBhNug') format('woff');
}

html, body { width: 100%; height: 100%; }
body {
	margin: auto;
	background: #c0c7cf;
}
header, footer {
	width: 100%;
	height: 100%;
	position: fixed;
	background: -moz-radial-gradient(center, cover, #f8f8f8 0%, #667077 100%);
	background: -webkit-radial-gradient(center, cover, #f8f8f8 0%, #667077 100%);
}
header { z-index: 1; }
footer { z-index: 0; }
header hgroup {
	width: 100%;
	bottom: 45%;
	position: fixed;
	text-align: center;
	letter-spacing: 5px;
	font-family: Orbitron, Verdana, Geneva, sans-serif;
}
header hgroup h1 {
	color: #90979f;
	text-shadow: -1px -1px 1px #666, 1px 1px 1px #eee, 0 0 10px #999;
}
header hgroup h5 {
	color: #667077;
	text-shadow: 0 0 5px #999;
}
nav {
	width: 100%;
	height: 10%;
	min-height: 80px;
	position: fixed;
	background: rgba(0,0,0,0.25);
}
nav section {
	color: #ccc;
	width: 80%;
	float: left;
	padding: 0 20px;
	font: 12px Verdana, Geneva, sans-serif;
	text-align: right;
	text-shadow: 1px 1px 1px #333;
}
nav aside {
	color: #eee;
	float: right;
	margin: -30px 0;
	font: 120px Arial, Helvetica, sans-serif;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	cursor: pointer;
}
header nav { bottom: 0; border-top: 2px solid rgba(0,0,0,0.1); }
footer nav { top: 0; border-bottom: 2px solid rgba(0,0,0,0.1); }
